# Ignore most of node_modules but keep Prisma
node_modules/*
!node_modules/.prisma
!node_modules/@prisma
!node_modules/prisma

# Ignore .next but keep standalone and static
.next/*
!.next/standalone
!.next/static

# Other ignores
.git
*.log
.env.local
.env.*.local
